*__pycache__*
*.ipynb_checkpoints*
*.kdev4
__pycache__/
*.py[cod]
*$py.class
*~
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
.svn
.CVS
*.orig
*.log
*.swp
.sync*
.owncloud*
.nextcloud*
CMakeLists.txt.user
bfr_only/
*.txt.user
