[Desktop Entry]
Exec=/usr/local/procmt/bin/atsfilter %F
Icon=/usr/local/procmt/share/desktop/atsfilter.svg
Name=atsfilter
StartupNotify=true
Terminal=false
Type=Application